<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--通过 bean 标签设置类的信息-->
    <bean id="helloService" class="com.yang.demo.HelloServiceImpl">
        <property name="info" value="Kobe Bryant"></property>
    </bean>

    <!--bean 的实例化-->
    <!--默认使用无参数构造方法-->
    <bean id="bean1" class="com.yang.demo1.Bean1"></bean>

    <!--静态工厂-->
    <bean id="bean2" class="com.yang.demo1.Bean2Factory" factory-method="createBean2Instance"></bean>

    <!--实例工厂-->
    <bean id="bean3" factory-bean="bean3Factory" factory-method="getBean3"></bean>
    <bean id="bean3Factory" class="com.yang.demo1.Bean3Factory"></bean>


    <!-- demo2-->
    <bean id="customer" class="com.yang.demo2.Customer" scope="prototype"></bean>

    <!--bean 的生命周期-->
    <bean id="product" class="com.yang.demo2.Product" init-method="setup" destroy-method="teardown">
        <property name="name" value="Messi"></property>
    </bean>

    <bean id="customerService" class="com.yang.demo3.CustomerServiceImpl" init-method="setup" destroy-method="teardown">
        <property name="name" value="Messi"></property>
    </bean>

    <bean class="com.yang.demo3.MyBeanPostProcessor"></bean>

    <!-- demo4-->
    <!--构造方法注入-->
    <bean id="car" class="com.yang.demo4.Car">
        <constructor-arg name="name" value="宝马"></constructor-arg>
        <constructor-arg name="price" value="10000"></constructor-arg>
    </bean>

    <bean id="car2" class="com.yang.demo4.Car2">
        <property name="name" value="保时捷"/>
        <property name="price" value="30000"/>
    </bean>

</beans>